* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.App-header{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}

ul{
    list-style-type: decimal;
}