* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.App-header{
    display: flex;
}

ul{
    list-style-type: decimal;
}

.modal{
    display: flex;
    flex-direction: column;
}